* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.75;
  font-family: 'Pacifico', cursive;
  font-family: 'Kavivanar';
  overflow-x: hidden;
  opacity: 1;
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f4f3ee;
  color: #8b8b8b; }

.text-center {
  text-align: center; }

h1, h2 {
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #8b8b8b; }

@font-face {
  font-family: 'Indie Flower';
  src: url("../fonts/Indie_Flower/IndieFlower.ttf"); }

@font-face {
  font-family: 'Kavivanar';
  src: url("../fonts/Kavivanar/Kavivanar-Regular.ttf"); }

@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf"); }

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf"); }

@font-face {
  font-family: 'Playball';
  src: url("../fonts/Playball/Playball-Regular.ttf"); }

@font-face {
  font-family: 'Alex Brush';
  src: url("../fonts/Alex_Brush/AlexBrush-Regular.ttf"); }

@font-face {
  font-family: 'Monsieur La Doulaise';
  src: url("../fonts/Monsieur_La_Doulaise/MonsieurLaDoulaise-Regular.ttf"); }

@font-face {
  font-family: 'Eagle Lake';
  src: url("../fonts/Eagle_Lake/EagleLake-Regular.ttf"); }

.grid {
  display: grid; }

.main_header {
  position: relative;
  padding: 20px 30px;
  background-image: url("../img/ExpertBreakfast_Feature.png");
  background-size: cover;
  background-position: center;
  min-height: 55vh;
  grid-template-columns: 1fr;
  align-content: center;
  text-align: center; }
  .main_header #sideBar {
    z-index: 1;
    position: fixed;
    left: -26%;
    width: 26%;
    height: 100vh;
    background-color: rgba(28, 23, 26, 0.85); }
    .main_header #sideBar.active {
      left: 0; }
    .main_header #sideBar .toggle-btn {
      position: absolute;
      left: calc(100% + 30px);
      top: 3vh;
      cursor: pointer; }
      .main_header #sideBar .toggle-btn span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #1c191c;
        margin-bottom: 5px; }
        .main_header #sideBar .toggle-btn span:last-child {
          margin-bottom: 0; }
    .main_header #sideBar .menu {
      height: 100%;
      margin: 0;
      padding-left: 0;
      background-color: none;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 1fr);
      text-align: center;
      align-content: center; }
      .main_header #sideBar .menu a {
        padding: 0 20px;
        color: white;
        font-size: 24px;
        align-content: center; }
        .main_header #sideBar .menu a:last-child {
          border-bottom: 0; }
        .main_header #sideBar .menu a:hover {
          background-color: rgba(28, 23, 26, 0.98); }
  .main_header .header-caption {
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 70px;
    color: #400704; }
    .main_header .header-caption .caption_healthy {
      grid-column: 1;
      grid-row: 1;
      line-height: 1; }
    .main_header .header-caption .caption_food {
      grid-column: 2;
      grid-row: 2;
      line-height: .6; }

.content-section {
  padding: 80px 0; }

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  text-align: center; }

.welcome .container {
  grid-template-columns: 1fr 1fr; }
  .welcome .container > div {
    padding: 0 40px; }
  .welcome .container .welcome-left {
    line-height: 1; }
    .welcome .container .welcome-left p {
      line-height: 1.75; }
  .welcome .container .welcome-right {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr); }
    .welcome .container .welcome-right > div {
      min-height: 22vh; }
    .welcome .container .welcome-right .bigger_welcome_tasty {
      grid-column: 1/4;
      grid-row: 1/7; }
    .welcome .container .welcome-right .smaller_welcome_tasty {
      z-index: 1;
      grid-column: 3/7;
      grid-row: 3/8; }

.simple-caption span {
  font-family: 'Monsieur La Doulaise', cursive;
  color: #406523;
  font-size: 50px;
  font-weight: 500; }

.simple-caption h2 {
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  color: #78726f;
  font-size: 20px;
  font-weight: 400; }

.galery-section {
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  transition: background-color 1.5s ease;
  text-align: center; }
  .galery-section:hover::before {
    background-color: #1c191c;
    opacity: .5; }
  .galery-section:hover .simple-caption.item {
    background-color: #dfded9;
    opacity: 1;
    z-index: 1; }
  .galery-section .galery-item {
    min-height: 50vh; }
  .galery-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c191c;
    opacity: .1; }
  .galery-section .galery-item.grid {
    text-align: center;
    align-content: center; }
    .galery-section .galery-item.grid .simple-caption.item {
      padding-left: 25px;
      padding-right: 40px; }

.simple-caption.item {
  opacity: 1;
  max-width: 182px;
  z-index: 1;
  background-color: #f4f3ee;
  margin: 0 auto;
  line-height: 1.4;
  padding: 15px;
  padding-right: 30px; }
  .simple-caption.item span {
    font-size: 40px; }
  .simple-caption.item h2 {
    text-align: center;
    font-size: 16px;
    padding-left: 15px; }

.services-section .container {
  grid-template-columns: 1fr;
  text-align: center; }
  .services-section .container .simple-caption {
    width: 100%;
    padding-top: 0;
    padding-bottom: 30px; }
  .services-section .container .services-container {
    grid-template-columns: repeat(4, 1fr);
    text-align: center; }
    .services-section .container .services-container .services-item {
      padding: 20px;
      padding-bottom: 0;
      transition: background-image color .35s ease; }
      .services-section .container .services-container .services-item:hover {
        color: #78726f; }
        .services-section .container .services-container .services-item:hover .breakfast {
          background-image: url("../img/icons/breakfast_hover.svg"); }
        .services-section .container .services-container .services-item:hover .lunch {
          background-image: url("../img/icons/lunch_hover.svg"); }
        .services-section .container .services-container .services-item:hover .dinner {
          background-image: url("../img/icons/dinner_hover.svg"); }
        .services-section .container .services-container .services-item:hover .custom {
          background-image: url("../img/icons/salad_hover.svg"); }
      .services-section .container .services-container .services-item-img {
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
        .services-section .container .services-container .services-item-img.breakfast {
          background-image: url("../img/icons/breakfast.svg"); }
        .services-section .container .services-container .services-item-img.lunch {
          background-image: url("../img/icons/lunch.svg"); }
        .services-section .container .services-container .services-item-img.dinner {
          background-image: url("../img/icons/dinner.svg"); }
        .services-section .container .services-container .services-item-img.custom {
          background-image: url("../img/icons/salad.svg"); }
      .services-section .container .services-container .services-item h4, .services-section .container .services-container .services-item p {
        margin-bottom: 0; }
      .services-section .container .services-container .services-item h4 {
        font-family: 'Eagle Lake', cursive; }

.reservation-section {
  grid-template-columns: 1fr;
  transition: background-color 1.5s ease; }
  .reservation-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c191c;
    opacity: .1; }
  .reservation-section:hover::before {
    background-color: #1c191c;
    opacity: .4; }
  .reservation-section:hover .simple-caption.item {
    background-color: #dfded9;
    opacity: 1;
    z-index: 1; }
  .reservation-section .reservation-content {
    width: 100%;
    min-height: 50vh;
    padding: 10px;
    text-align: center;
    align-content: center;
    grid-template-columns: 1fr; }

.menu-section .container {
  grid-template-columns: 1fr 1fr; }
  .menu-section .container .dishes-item {
    padding: 0 40px; }
  .menu-section .container .menu-item {
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    margin: 0 40px; }
    .menu-section .container .menu-item .simple-caption.item {
      background-color: rgba(28, 25, 28, 0.9); }
      .menu-section .container .menu-item .simple-caption.item span {
        padding-left: 15px; }
      .menu-section .container .menu-item .simple-caption.item span, .menu-section .container .menu-item .simple-caption.item h2 {
        color: white; }
  .menu-section .container .dishes-item .simple-caption.item {
    padding-top: 0; }

.button {
  box-sizing: border-box;
  border: 1px solid #1c191c;
  color: #1c191c;
  padding: 5px 15%;
  font-family: 'Kavivanar';
  margin: 0 auto;
  margin-top: 15px; }
  .button:hover {
    background-color: #406523;
    border: 1px solid #406523;
    color: #dbd8d8; }

.location-section {
  font-family: sans-serif;
  min-height: 60vh;
  background-image: url("../img/maps.png");
  background-size: cover;
  background-position: center;
  grid-template-columns: 1fr;
  text-align: center;
  align-content: center; }
  .location-section .location-content {
    background-color: rgba(28, 25, 28, 0.9);
    padding: 30px 40px;
    margin: 0 auto;
    z-index: 1;
    color: #c3c1c1; }
    .location-section .location-content h4 {
      color: #406523; }

.blog-section {
  min-height: 30vh; }
  .blog-section .container {
    max-width: 1000px;
    text-align: center; }
    .blog-section .container .blog-content {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px; }
      .blog-section .container .blog-content .blog-item.left {
        padding: 0 40px; }
        .blog-section .container .blog-content .blog-item.left h4 {
          color: #406523;
          margin-top: 0; }
        .blog-section .container .blog-content .blog-item.left p {
          text-align: left;
          margin-bottom: 40px; }
      .blog-section .container .blog-content .blog-item.right {
        background-size: cover;
        background-position: center; }

.form-section {
  background-image: url("../img/horisontal_drinks.jpg");
  background-size: cover;
  background-position: center;
  color: #b5b5b5;
  font-family: sans-serif; }
  .form-section .container {
    max-width: 700px;
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    text-align: center;
    color: white; }
    .form-section .container h4 {
      margin-top: 0;
      font-size: 26px; }
    .form-section .container .form-container {
      width: 100%;
      grid-row-gap: 20px; }
      .form-section .container .form-container input, .form-section .container .form-container textarea {
        width: 100%;
        max-width: 660px;
        min-width: 280px;
        border-radius: 10px;
        padding: 10px;
        opacity: .6;
        color: #406523;
        border: 0;
        outline: none;
        font-size: 17px; }
        .form-section .container .form-container input::placeholder, .form-section .container .form-container textarea::placeholder {
          color: #406523;
          font-weight: bold; }
      .form-section .container .form-container input {
        height: 4.5vh; }
      .form-section .container .form-container .button {
        border-radius: 10px;
        font-size: 24px;
        background-color: #406523;
        color: white;
        padding: 8px 25px;
        border: 0;
        outline: none;
        cursor: pointer;
        transition: background-color .3s ease; }
        .form-section .container .form-container .button:hover {
          background-color: #53832e; }

.main-footer {
  background-color: #1c191c;
  color: white;
  text-align: center; }
  .main-footer .footer-copy {
    text-align: center; }
