$main_bg: #f4f3ee
$text_color: #8b8b8b

*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

html
  height: 100%

body
  font-size: 16px
  line-height: 1.75
  font-family: 'Pacifico', cursive
  font-family: 'Kavivanar'
  overflow-x: hidden
  opacity: 1
  min-width: 320px
  position: relative
  margin: 0
  padding: 0
  background-color: $main_bg
  color: $text_color

.text-center
  text-align: center

h1, h2
  margin: 0

a
  text-decoration: none
  cursor: pointer
  color: $text_color
