@import 'base'
@import 'fonts'

$main_bg: #f4f3ee
$main_bg_top: #1c191c
$text_color: #8b8b8b
$text_color_lighter: #b5b5b5
$darken_text_color: #78726f
$accent_color: #406523
$dark_caption: #400704
$hover_simple_caption: #dfded9
$light: #dbd8d8
$gutter: 20px
$gap: 10px

.grid
  display: grid

.main_header
  position: relative
  padding: $gutter 30px
  background-image: url('../img/ExpertBreakfast_Feature.png')
  background-size: cover
  background-position: center
  min-height: 55vh
  grid-template-columns: 1fr
  align-content: center
  text-align: center
  #sideBar
    z-index: 1
    position: fixed
    left: -26%
    width: 26%
    height: 100vh
    background-color: rgba(28, 23, 26, .85)
    &.active
      left: 0
    .toggle-btn
      position: absolute
      left: calc(100% + 30px)
      top: 3vh
      cursor: pointer
      span
        display: block
        width: 35px
        height: 5px
        background-color: $main_bg_top
        margin-bottom: 5px
        &:last-child
          margin-bottom: 0
    .menu
      height: 100%
      margin: 0
      padding-left: 0
      background-color: none
      grid-template-columns: 1fr
      grid-template-rows: repeat(7, 1fr)
      text-align: center
      align-content: center
      a
        padding: 0 20px
        // border-bottom: 1px solid $text_color
        color: white
        font-size: 24px
        align-content: center
        &:last-child
          border-bottom: 0
        &:hover
          background-color: rgba(28, 23, 26, .98)
  .header-caption
    width: 100%
    padding-top: 100px
    margin: 0 auto
    max-width: 600px
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr 1fr
    grid-column-gap: 20px
    font-family: 'Pacifico', cursive
    font-weight: 300
    font-size: 70px
    color: $dark_caption
    .caption_healthy
      grid-column: 1
      grid-row: 1
      line-height: 1
    .caption_food
      grid-column: 2
      grid-row: 2
      line-height: .6

.content-section
  padding: 80px 0

.container
  max-width: 800px
  margin: auto
  padding: 0 $gutter
  text-align: center

.welcome
  .container
    grid-template-columns: 1fr 1fr
    & > div
      padding: 0 40px
    .welcome-left
      line-height: 1
      p
        line-height: 1.75
    .welcome-right
      grid-template-columns: repeat(6, 1fr)
      grid-template-rows: repeat(7, 1fr)
      & > div
        min-height: 22vh
      .bigger_welcome_tasty
        grid-column: 1/4
        grid-row: 1/7
      .smaller_welcome_tasty
        z-index: 1
        grid-column: 3/7
        grid-row: 3/8

.simple-caption
  span
    font-family: 'Monsieur La Doulaise', cursive
    color: $accent_color
    font-size: 50px
    font-weight: 500
  h2
    font-family: 'Eagle Lake', cursive
    text-align: center
    color: $darken_text_color
    font-size: 20px
    font-weight: 400

.galery-section
  position: relative
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: $gap
  padding: $gap
  transition: background-color 1.5s ease
  text-align: center
  &:hover
    &::before
      background-color: $main_bg_top
      opacity: .5
    .simple-caption.item
      background-color: $hover_simple_caption
      opacity: 1
      z-index: 1
  .galery-item
    min-height: 50vh
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $main_bg_top
    opacity: .1
  .galery-item.grid
    text-align: center
    align-content: center
    .simple-caption.item
      padding-left: 25px
      padding-right: 40px

.simple-caption.item
  opacity: 1
  max-width: 182px
  z-index: 1
  background-color: $main_bg
  margin: 0 auto
  line-height: 1.4
  padding: 15px
  padding-right: 30px
  span
    font-size: 40px
  h2
    text-align: center
    font-size: 16px
    padding-left: 15px

.services-section
  .container
    grid-template-columns: 1fr
    text-align: center
    .simple-caption
      width: 100%
      padding-top: 0
      padding-bottom: 30px
    .services-container
      grid-template-columns: repeat(4, 1fr)
      text-align: center
      .services-item
        padding: $gutter
        padding-bottom: 0
        transition: background-image color .35s ease
        &:hover
          color: $darken_text_color
          .breakfast
            background-image: url('../img/icons/breakfast_hover.svg')
          .lunch
            background-image: url('../img/icons/lunch_hover.svg')
          .dinner
            background-image: url('../img/icons/dinner_hover.svg')
          .custom
            background-image: url('../img/icons/salad_hover.svg')
        &-img
          height: 100px
          background-size: contain
          background-repeat: no-repeat
          background-position: center
          &.breakfast
            background-image: url('../img/icons/breakfast.svg')
          &.lunch
            background-image: url('../img/icons/lunch.svg')
          &.dinner
            background-image: url('../img/icons/dinner.svg')
          &.custom
            background-image: url('../img/icons/salad.svg')
        h4, p
          margin-bottom: 0
        h4
          font-family: 'Eagle Lake', cursive

.reservation-section
  grid-template-columns: 1fr
  transition: background-color 1.5s ease
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $main_bg_top
    opacity: .1
  &:hover
    &::before
      background-color: $main_bg_top
      opacity: .4
    .simple-caption.item
      background-color: $hover_simple_caption
      opacity: 1
      z-index: 1
  .reservation-content
    width: 100%
    min-height: 50vh
    padding: 10px
    text-align: center
    align-content: center
    grid-template-columns: 1fr

.menu-section
  .container
    grid-template-columns: 1fr 1fr
    .dishes-item
      padding: 0 40px
    .menu-item
      background-size: cover
      background-position: center
      text-align: center
      align-content: center
      margin: 0 40px
      .simple-caption.item
        background-color: rgba(28, 25, 28, .9)
        span
          padding-left: 15px
        span, h2
          color: white
    .dishes-item
      .simple-caption.item
        padding-top: 0

.button
  box-sizing: border-box
  border: 1px solid $main_bg_top
  color: $main_bg_top
  padding: 5px 15%
  font-family: 'Kavivanar'
  margin: 0 auto
  margin-top: 15px
  &:hover
    background-color: $accent_color
    border: 1px solid $accent_color
    color: $light

.location-section
  font-family: sans-serif
  min-height: 60vh
  background-image: url('../img/maps.png')
  background-size: cover
  background-position: center
  grid-template-columns: 1fr
  text-align: center
  align-content: center
  .location-content
    background-color: rgba(28, 25, 28, 0.9)
    padding: 30px 40px
    margin: 0 auto
    z-index: 1
    color: #c3c1c1
    h4
      color: $accent_color

.blog-section
  min-height: 30vh
  .container
    max-width: 1000px
    text-align: center
    .blog-content
      grid-template-columns: 1fr 1fr
      grid-gap: 40px
      .blog-item.left
        padding: 0 40px
        h4
          color: $accent_color
          margin-top: 0
        p
          text-align: left
          margin-bottom: 40px
      .blog-item.right
        background-size: cover
        background-position: center

.form-section
  background-image: url('../img/horisontal_drinks.jpg')
  background-size: cover
  background-position: center
  color: $text_color_lighter
  font-family: sans-serif
  .container
    max-width: 700px
    min-width: 320px
    padding: 0 $gutter
    margin: 0 auto
    grid-template-columns: 1fr
    text-align: center
    color: white
    h4
      margin-top: 0
      font-size: 26px
    .form-container
      width: 100%
      // grid-template-columns: 1fr
      // grid-template-rows: repeat(9, 1fr)
      grid-row-gap: $gutter
      input, textarea
        width: 100%
        max-width: 660px
        min-width: 280px
        border-radius: 10px
        padding: 10px
        opacity: .6
        color: $accent_color
        border: 0
        outline: none
        font-size: 17px
        // textarea
        //   grid-row: 4/9
        &::placeholder
          color: $accent_color
          font-weight: bold
      input
        height: 4.5vh
      .button
        // grid-row: 9/10
        border-radius: 10px
        font-size: 24px
        background-color: $accent_color
        color: white
        padding: 8px 25px
        border: 0
        outline: none
        cursor: pointer
        transition: background-color .3s ease
        &:hover
          background-color: lighten($accent_color, 8%)

.main-footer
  background-color: $main_bg_top
  color: white
  text-align: center
  .footer-copy
    text-align: center

@import "media"
